*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/
keystore.properties

key_store_muvitraker

/.idea/AndroidProjectSystem.xml
/.idea/deviceManager.xml
/.idea/studiobot.xml

.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/runConfigurations.xml

db_vers per test migrazione